@tailwind base;
@tailwind components;
@tailwind utilities;

.my-text {
    background: #fffd08;
    background: linear-gradient(to right, #fffd08 0%, #00ff00 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
